body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* lichte modus */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --h1-color: #38761d;
  --custom-link-color: #38761d;
}

/* donkere modus */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1710;
    --text-color: #ffffff;
    --h1-color: #7fff48;
    --custom-link-color: 33ff33;
  }
}

h1 {
  color: var(--h1-color);
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.5;

a.custom-link {
  color: var(--custom-link-color);
}

button {
  border-radius: 25px;
  background-color: #43b731;
  color: white;
  padding: 10px;
  font-size: 16px;
  margin: 1%;
}
