<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>[NAAM VAN TABBLAD]</title>
    
    <link rel="stylesheet" href="https://tcevik.github.io/style.css">
    <script src="https://tcevik.github.io/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
    <button id="top-left-button" onclick="window.location.href='https://tcevik.github.io'">Home</button>
    <h1>[Titel]</h1>
    <p>[Woord woord woord. Woord woord woord. Woord woord woord.]
    <br>[Woord woord woord. Woord woord woord. Woord woord woord.]</p>
</body>
</html>
