<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[NAME OF TAB]</title>
    
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <script src="/ex-script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
</head>
<body>
    <button id="top-left-button" onclick="window.location.href='/'">Home</button>
    <h1>[Title]</h1>
    <p>[Word Word Word. Word Word Word. Word Word Word.]
    <br>[Word Word Word. Word Word Word. Word Word Word.]</p>
</body>
</html>
